ion-list-header{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

aion-menu ion-note{
  margin-bottom: 30px;
  padding-left: 20px;
  
}

ion-menu ion-list {
  padding-top: 10px;
}

ion-menu-toggle ion-item ion-label {
  padding-top: 10px;
  padding-left: 10px;
  color: rgba(59, 43, 43, 0.605);
  font-size: 25px;
  background-color: white;
  font-weight: bold;
  border: 2px solid rgb(240, 200, 160);
  height: 50px;
  border-radius: 10px;
}